<div class="bg-primaryYellow w-screen h-screen flex flex-col items-center">
  <img class="mt-20" src="./assets/img/logo.svg" alt="Mtush logo" width="102" height="95">

  <div class="my-20 w-[312px] bg-white rounded-2xl px-11 py-16">
    <p class="text-primaryGreen text-5xl font-textBold text-center">Log In</p>
    <form class="my-10 flex flex-col justify-between">
      <input
        class="bg-[#FAF3E6] appearance-none
        border-2 rounded-2xl w-full py-8 px-4 text-[#97AFA4] text-2xl leading-tight focus:outline-none mb-11"
        type="text"
        placeholder="Email">

      <input
        class="bg-[#FAF3E6] appearance-none
        border-2 rounded-2xl w-full py-8 px-4 text-[#97AFA4] text-2xl leading-tight focus:outline-none mb-11"
        type="password"
        placeholder="Password">

      <p class="text-2xl text-textYellow font-heading text-end cursor-pointer hover:underline ">Forgot password?</p>

      <button class="bg-primaryGreen mt-20 rounded-full text-white py-6 px-40 text-2xl font-bold hover:cursor-pointer">Log in</button>
    </form>
    <p class="text-primaryGreen text-2xl text-heading text-center">Don't have an account yet? <a class="text-textYellow cursor-pointer hover:underline"> Sign up</a></p>
  </div>
</div>
