<div [ngClass]="{ 'h-screen overflow-hidden': isMenuOpen }">
  <section class="w-screen bg-[#FAF3E6]">
    <!-- header-->
    <mtush-header
      [isMenuOpen]="isMenuOpen"
      [activeRoute]="activeRoute"
      (clickedEvent)="menuOpen()"
    ></mtush-header>

    <!-- Hero-->
    <div
      [ngClass]="{ ' blur': isMenuOpen }"
      class="my-20 flex flex-col items-center justify-between space-y-20"
    >
      <h1
        class="w-80 text-center font-headingBold text-6xl font-bold text-primaryGreen"
      >
        Get
        <span
          class="relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-6 before:rounded-2xl before:bg-primaryYellow"
        >
          <span class="relative">Mtush</span></span
        >
        at cheaper prices
      </h1>

      <button
        class="text-headingFont rounded-full bg-primaryGreen py-7 px-11 text-2xl font-bold text-primaryYellow"
      >
        Start Shopping
      </button>

      <div class="h-[24rem]">
        <img
          class=""
          src="./assets/img/jeans.webp"
          alt="Mtush image image"
          width="264"
          height="286"
        />
      </div>
    </div>
  </section>

  <section class="mt-44 px-8 py-4">
    <div
      class="text-headingFont mb-10 flex items-center justify-between text-3xl font-bold text-primaryGreen"
    >
      <p>Popular Sellers</p>
      <p class="flex items-center gap-x-2 hover:cursor-pointer">
        See All
        <img
          src="./assets/img/arrow-right.svg"
          alt="Arrow right"
          width="26"
          height="26"
        />
      </p>
    </div>
    <!-- The slider-->
    <swiper [slidesPerView]="'auto'" [spaceBetween]="10">
      <ng-template swiperSlide *ngFor="let item of items">
        <mtush-item-card [item]="item"></mtush-item-card>
      </ng-template>
    </swiper>
  </section>

  <!-- Brand Section -->
  <section class="mt-10 px-8 py-4">
    <p class="text-headingFont text-3xl font-bold">Shop by Brand</p>
    <div class="mt-[2.5rem] space-x-3">
      <mtush-brand-button
        *ngFor="let brand of brands"
        [buttonText]="brand"
      ></mtush-brand-button>
    </div>
  </section>

  <section
    class="mt-16 flex h-[50rem] flex-col items-center space-y-[4rem] bg-orange px-8 py-[4.4rem] text-center"
  >
    <p class="text-textFont text-[3.2rem] font-bold leading-[4rem] text-white">
      Sell your gently used clothes and make space for new items.
    </p>
    <button
      class="text-headingFont rounded-full bg-white py-[1.3rem] px-[4.7rem] text-[1.6rem] font-bold"
    >
      Sign Up
    </button>
    <img
      src="./assets/img/cta.webp"
      alt="Jackets shirts"
      width="303"
      height="202"
    />
  </section>

  <section class="mt-[5.1rem] px-8 py-4">
    <div
      class="text-headingFont mb-10 flex items-center justify-between text-3xl font-bold text-primaryGreen"
    >
      <p>Shop Popular Items</p>
      <p class="flex items-center gap-x-2">
        See All
        <img
          src="./assets/img/arrow-right.svg"
          alt="Arrow right"
          width="26"
          height="26"
        />
      </p>
    </div>
    <!-- The slider-->
    <swiper [slidesPerView]="'auto'" [spaceBetween]="10">
      <ng-template swiperSlide *ngFor="let item of items">
        <mtush-item-card [item]="item"></mtush-item-card>
      </ng-template>
    </swiper>
  </section>

  <footer class="mt-[12rem] h-[41.5rem] bg-secondaryGreen"></footer>
</div>
