<section class="w-screen bg-[#FAF3E6]">
  <div class="rounded-b-3xl bg-primaryYellow py-6 px-10">
    <div class="flex justify-between">
      <img
        src="./assets/img/logo.svg"
        alt="Mtush logo"
        width="65"
        height="61"
      />
      <a>
        <img
          src="./assets/img/ham.svg"
          alt="Mtush menu"
          width="32"
          height="32"
        />
      </a>
    </div>

    <div class="relative mt-11 mb-7 flex items-center rounded-full bg-white">
      <img
        class="absolute left-6"
        src="./assets/img/search.svg"
        alt="search icon"
        width="18"
        height="18"
      />
      <input
        class="w-full appearance-none rounded-full py-5 px-4 pl-16 text-2xl leading-tight text-primaryGreen focus:outline-none"
        type="search"
        placeholder="Search for Items"
      />
    </div>
  </div>

  <!-- Hero-->
  <div class="my-20 flex flex-col items-center justify-between space-y-20">
    <h1
      class="w-80 text-center font-headingBold text-6xl font-bold text-primaryGreen"
    >
      Get
      <span
        class="relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-6 before:rounded-2xl before:bg-primaryYellow"
      >
        <span class="relative">Mtush</span></span
      >
      at cheaper prices
    </h1>

    <button
      class="text-headingFont rounded-full bg-primaryGreen py-7 px-11 text-2xl font-bold text-primaryYellow"
    >
      Start Shopping
    </button>

    <div class="h-[24rem]">
      <img
        class=""
        src="./assets/img/jeans.webp"
        alt="Mtush image image"
        width="264"
        height="286"
      />
    </div>
  </div>
</section>

<section class="mt-44 px-8 py-4">
  <div
    class="text-headingFont mb-10 flex items-center justify-between text-3xl font-bold text-primaryGreen"
  >
    <p>Popular Sellers</p>
    <p class="flex items-center gap-x-2 hover:cursor-pointer">
      See All
      <img
        src="./assets/img/arrow-right.svg"
        alt="Arrow right"
        width="26"
        height="26"
      />
    </p>
  </div>
  <!-- The slider-->
  <swiper [slidesPerView]="'auto'" [spaceBetween]="10">
    <ng-template swiperSlide *ngFor="let item of items">
      <mtush-item-card [item]="item"></mtush-item-card>
    </ng-template>
  </swiper>
</section>

<section class="mt-10 px-8 py-4">
  <p class="text-headingFont text-3xl font-bold">Shop by Brand</p>
  <div class="mt-[1.6rem] space-x-3 space-y-6">
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Nike
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Ralph Lauren
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Adidas
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      New Balance
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Puma
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Vans
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Burberry
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Tommy Hilfiger
    </button>
    <button class="rounded-full py-5 px-8 text-[1.2rem] outline outline-1">
      Reebok
    </button>
  </div>
</section>

<section
  class="mt-16 h-[50rem] space-y-[4rem] bg-orange px-8 py-4 py-[4.4rem] text-center"
>
  <p class="text-textFont text-[3.2rem] font-bold leading-[4rem] text-white">
    Sell your gently used clothes and make space for new items.
  </p>
  <button
    class="text-headingFont rounded-full bg-white py-[1.3rem] px-[4.7rem] text-[1.6rem] font-bold"
  >
    Sign Up
  </button>
  <img
    src="./assets/img/cta.webp"
    alt="Jackets shirts"
    width="303"
    height="202"
  />
</section>

<section class="mt-[5.1rem] px-8 py-4">
  <div
    class="text-headingFont mb-10 flex items-center justify-between text-3xl font-bold text-primaryGreen"
  >
    <p>Shop Popular Items</p>
    <p class="flex items-center gap-x-2">
      See All
      <img
        src="./assets/img/arrow-right.svg"
        alt="Arrow right"
        width="26"
        height="26"
      />
    </p>
  </div>
  <!-- The slider-->
  <swiper [slidesPerView]="'auto'" [spaceBetween]="10">
    <ng-template swiperSlide>
      <div class="space-y-8 text-xl">
        <img
          class=""
          src="./assets/img/item.png"
          alt="Shop Items"
          width="131"
          height="220"
        />
        <div class="space-y-3">
          <div class="mt-6-4 flex items-center justify-between">
            <p class="">KES 250</p>
            <p class="flex items-center gap-x-2">
              <img
                class
                src="./assets/img/selected-fav.svg"
                alt="Selected fav"
                width="16"
                height="14"
              />
              7
            </p>
          </div>
          <p>Size: L</p>
          <p>Nike</p>
          <p>Adams Arcade, Nairobi</p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="space-y-8 text-xl">
        <img
          class=""
          src="./assets/img/item.png"
          alt="Shop Items"
          width="131"
          height="220"
        />
        <div class="space-y-3">
          <div class="mt-6-4 flex items-center justify-between">
            <p class="">KES 250</p>
            <p class="flex items-center gap-x-2">
              <img
                class
                src="./assets/img/selected-fav.svg"
                alt="Selected fav"
                width="16"
                height="14"
              />
              7
            </p>
          </div>
          <p>Size: L</p>
          <p>Nike</p>
          <p>Adams Arcade, Nairobi</p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="space-y-8 text-xl">
        <img
          class=""
          src="./assets/img/item.png"
          alt="Shop Items"
          width="131"
          height="220"
        />
        <div class="space-y-3">
          <div class="mt-6-4 flex items-center justify-between">
            <p class="">KES 250</p>
            <p class="flex items-center gap-x-2">
              <img
                class
                src="./assets/img/selected-fav.svg"
                alt="Selected fav"
                width="16"
                height="14"
              />
              7
            </p>
          </div>
          <p>Size: L</p>
          <p>Nike</p>
          <p>Adams Arcade, Nairobi</p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="space-y-8 text-xl">
        <img
          class=""
          src="./assets/img/item.png"
          alt="Shop Items"
          width="131"
          height="220"
        />
        <div class="space-y-3">
          <div class="mt-6-4 flex items-center justify-between">
            <p class="">KES 250</p>
            <p class="flex items-center gap-x-2">
              <img
                class
                src="./assets/img/selected-fav.svg"
                alt="Selected fav"
                width="16"
                height="14"
              />
              7
            </p>
          </div>
          <p>Size: L</p>
          <p>Nike</p>
          <p>Adams Arcade, Nairobi</p>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>

<footer class="mt-[12rem] h-[41.5rem] bg-secondaryGreen"></footer>
